@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Smacked Overflow</h1>
    <a class="nav-link text-dark" href="/Questions/Create">Create new Question</a>
    <a class="nav-link text-dark" href="/Questions/Index">Recent Questions</a>
</div>
