@model Advanced_Database_and_ORM_Concepts_SD_330_W22SD.Models.Answer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Answer</h4>

<form>
    <textarea rows="10" cols="50"></textarea>
    <button type="submit">Submit</button>
</form>